---
services:
  nats:
    image: nats
    restart: always
    command: -c /etc/nats/nats.conf
    ports:
      - "4222:4222" # client port
      - "6222:6222" # cluster port
      - "8222:8222" # monitoring port
    volumes:
      - ./nats.conf:/etc/nats/nats.conf
      - ./apps/nats:/data

  apicurio:
    image: apicurio/apicurio-registry:3.1.4
    restart: always
    ports:
      - "8080:8080"
    environment:
      - APICURIO_STORAGE_KIND=sql
      - APICURIO_STORAGE_SQL_KIND=postgresql
      - APICURIO_DATASOURCE_URL=jdbc:postgresql://postgres/registry
      - APICURIO_DATASOURCE_USERNAME=root
      - APICURIO_DATASOURCE_PASSWORD=password
      - apicurio.rest.deletion.group.enabled=true
      - apicurio.rest.deletion.artifact.enabled=true
      - apicurio.rest.deletion.artifact-version.enabled=true
      - apicurio.rest.mutability.artifact-version-content.enabled=true
      - QUARKUS_HTTP_CORS_ORIGINS=*

  apicurio-ui:
    image: apicurio/apicurio-registry-ui:3.1.4
    restart: always
    ports:
      - "8081:8080"
    environment:
      - REGISTRY_UI_CONFIG_APIURL=http://localhost:8080/apis/registry/v3
      - REGISTRY_UI_CONFIG_UIURL=http://localhost:8081
      - QUARKUS_HTTP_CORS_ORIGINS=*

  postgres:
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/pgsql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=root
      - POSTGRES_DB=registry

volumes:
  pgdata:
...
